body{
    margin: 0px;
    
}

.row{
    display: flex;
}



.col-1{
    width: 8.33333%;
}

.col-2{
    width: 16.666666%;
}
.col-3{
    width: 25%;
}


.col-4{
    width: 33.33333%;
}


.col-5{
    width: 41.666666%;
}


.col-6{
    width: 50%;
}


.col-7{
    width: 58.333333%;
}


.col-8{
    width: 66.666666%;
}

.col-9{
    width: 75%;
}


 

.col-10{
    width: 83.333333%;
}


.col-11{
    width: 91.6666666%;
}



.col-12{
    width: 100%;
}


.justify-content-between{
    justify-content: space-between;
}



/**  responsive !!!  */


@media screen and (max-width: 500px) {
    body{
        background-color: red;
    }
}


@media screen and (min-width: 501px) and (max-width: 699px) {
    body{
        background-color: orange;
    }
}

@media screen and (min-width: 700px) {
    body{
        background-color: yellow;
    }
}




@media screen and (max-width: 500px) {
    .row{
        display: block;
    }

    .row > div{
        width: 100%;
    }
}